html{
    font-family: "Sawarbi Mincho";
    font-size: 16px;
    color: saddlebrown;
    background-color: RGB (223, 212, 197);
    left: 0;
}

.mobile {
    display:none;
} 

nav{
    position: fixed;
    z-index:1;
    background-color: white;
    width: 100%;
    height: 64px;
    top: 0;
    display: inline-flex;
    flex-flow: row nowrap;
    align-items: center;
}

nav .logo{
    display:flex;
}

nav ul {
    text-align: right;
    width: 100%;
}

nav li{
    margin: 10px;
    display: inline-block;
}

nav .sign{
    margin-right: 24px;
}

nav .colmar{
    font-weight: bold;
    color: #474747;
}

nav p{
    color: darkgray;
    line-height: 32px;
}

.banner {
    background-color: lightblue;
    width: 100%;
    border: 0;
    display: flex;
}

.banner img {
    width: 54%;
    padding: 0;
    margin: 32px 24px;
    padding-right: 32px;
    padding-top: 59px;

}

.banner .text{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #474747;
    margin: 10px;
}

h2{
    font-size: 3rem;
    margin-bottom:0;
}

h4{
    font-size: 1.9rem;
    opacity: 0.8;
}

button{
    width: 80%;
    background-color:saddlebrown;
    color: white;
    padding: 8px;
    border: 0;
    height: 50px;
    align-self: flex-start;
    font-size: 1rem;
    text-align: center;
}

.information{
    display: flex;
    padding: 0;
    margin: 0;
    border-top: 1px solid saddlebrown;
}

.information .left{
    padding-left: 24px;
    padding-right: 34px;
    width: 60%;
    font-size: 1.17rem;
    
}

.information .left img {
    padding: 0;
    margin-top: 32px;
    width: 100%;
}

.information .left h2{
    margin-bottom: 24px;
    font-size: 2.5rem;
    color: #474747;
}

.information .left span{
    font-weight: 500;
}

.information .right{
    border-left: 1px solid saddlebrown;
    border-right: 1px solid saddlebrown;
    width: 40%;
}

.information .right .container img{
    height: auto;
    width: 35%;
    padding: 16px;

}

.information .right .container{
    display: flex;
    width: 100%;
    align-items: center;
    background-color: white;
    border-top: 1px solid saddlebrown;
    padding: 16px 0px;

}

.information .right .container .txtcontainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    max-height: 35%;
}

.information .right .container h4{
    color: #474747;
    margin: 0;
    padding: 0;
}

.information .right .container p{
    padding-top: 12px;
    margin:0;
}

.information .right .read-more{
    color: lightseagreen;
}

.learning {
    background-color: lightblue;
    color: #474747;
    margin: 0;
    padding-top: 32px;
    padding-bottom: 32px;
    border-top: 1px solid saddlebrown;
}

.learning h2{
    padding-bottom: 32px;
    margin:0;
    text-align: center;
}
.first{
    display: flex;
    margin-left: 72px;
    margin-right: 72px;
}

.second{
    display:flex;
    margin-left: 72px;
    margin-right: 72px;
}

.learning .courses {
    display: flex;
    flex-direction: row;
}

.learning .course{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    background-color: white;
    width: 30%;
    margin: 14px;
    margin-top:0;
    padding: 0;
    color: saddlebrown;
}

.learning .course img{
    width: 100%;
    height: auto;
}

.course h4{
    color: #474747;
}

.course h4,
.course p {
    padding: 16px;
    margin: 0;
    align-self: flex-start;
}

.course .eight{
    padding-top: 8px;
    padding-bottom: 8px;
}

.thesis{
    border-top: 1px solid saddlebrown;
}

.thesis .infor{
    display:flex; 
}

.thesis h2{
    text-align: center;
    margin: 32px;
    color: #474747;
}

.thesis .left{
    display: flex;
    flex-direction: column;
    width: 60%;
}

.thesis .left h4,
.thesis .left p{
    align-self: flex-start;
    margin-left: 24px;
    margin-top: 16px;
    margin-bottom: 0;
}

.thesis h4{
    padding-top: 16px;
    padding-bottom: 0;
    font-size: 1.5rem;
    color: #474747;
}

.thesis .left p{
    padding-top: 0;
    width: 80%;
    padding-bottom: 32px;
}

.thesis video{
    margin: 0px 24px 5px 24px;
    padding: 0;
}

.thesis .right{
    display: flex;
    flex-direction: column;
    width: 40%;
}

.thesis .box{
    display: flex;
    align-items: center;
    padding: 16px 16px;
    border: 1px solid saddlebrown;
}

.thesis .txtcontainer{
    display: flex;
    flex-direction: column;
    justify-items: center;
}

.thesis img{
    height: auto;
    width: 30%;
    align-self: center;
    padding: 16px;
    margin: 0;
}

.thesis .right h4{
    margin: 0;
    padding-bottom: 16px;
    color: #474747;
}

footer{
    display:flex;
    border-top: 1px solid saddlebrown;;
    margin-left: 32px;
    margin-right: 32px;
    padding-top: 16px;
    color: saddlebrown;
    opacity: 50%;
}

footer p{
    width: 100%;
}

footer ul{
    text-align: right; 
    width: 100%;
}

footer li{
    display: inline-block;
}


@media only screen and (max-width: 800px){

    nav{
        height: 64px;
        left: 0;
    }

    nav .logo,
    nav ul {
        display:none;
    }

    nav .mobile{
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .banner{
        display:flex;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .banner img{
        position: center;
        width: 100%;
        margin:0;
        padding: 0;
    }

    button {
        display: flex;
        text-align: center;
        align-self: center;
        margin-bottom: 32px;
        font-size: 1.5rem;
    }


    .information .left{
        display: none;
    }

    .information .desktop{
        display:none;
    }

    .information .right .mobile {
        display: flex;
        flex-shrink:0;
        position: center;
        width: auto;
        
    }

    .information .container{
        display:flex;
        flex-direction: column;
        width: 100%;
        height: auto;
        margin: 0;
        padding: 0;
        border: 0;
        
    } 

    .information .right{
        width: 100%;
        display: flex;
        flex-direction: column;
        margin:0;
        flex-shrink:0;
        padding:0;
    }

    .information .right .container .txtcontainer{
        margin:0;
        padding:0;
        text-align: left;
        display:flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        align-items: center;
    }

    .learning .course img,
    .learning .course p{
        display: none;
    }

    .course #mobile{
        padding: 20px;
    }

    .learning .course{   
        width: 80%;
    }

    .learning .first, 
    .learning .second{
        display: flex;
        flex-direction: column;
        margin:0;
        padding:3;
        justify-content: space-around;
        align-items: center;
    }

    .thesis h4,
    .thesis p, 
    .thesis .right{
        display: none;
    }

    .thesis .left{
        width:100%;
    }

    .thesis video{
        position: center;
        width: 100%;
        height: auto;
        margin:0;
        padding-bottom: 16px;
    }

    footer ul{
        display:none;
    }

    footer p{
        text-align: center;
    }

}