html{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: rgb (42,42,42);
}


nav{
    position: fixed;
    z-index:1;
    background-color: white;
    width: 100%;
    height: 64px;
    top: 0;
    display: inline-flex;
    flex-flow: row nowrap;
    align-items: center;
}

nav ul {
    text-align: right;
    width: 100%;
}

nav li{
    margin: 10px;
    display: inline-block;
}

nav .sign{
    margin-right: 24px;
}

nav .colmar{
    font-weight: bold;
    color: #202020;
}

nav p{
    color: darkgray;
    line-height: 32px;
}

.banner {
    background-color: darkgray;
    width: 100%;
    border: 0;
    display: flex;
}

.banner img {
    width: 57.5%;
    padding: 0;
    margin: 32px 24px;
    padding-right: 32px;
    padding-top: 59px;

}

.banner .text{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #474747;
    margin: 10px;
}

h2{
    font-size: 3rem;
    margin-bottom:0;
}

h4{
    font-size: 1.9rem;
}

button{
    width: 80%;
    background-color: #474747;
    color: white;
    padding: 8px;
    border: 0;
    height: 50px;
    align-self: flex-start;
}

.information{
    display: flex;
    padding: 0;
    margin: 0;
}

.information .left{
    padding-left: 24px;
    padding-right: 34px;
    width: 60%;
    font-size: 1.17rem;
}

.information .left img {
    padding: 0;
    margin-top: 32px;
    width: 100%;
}

.information .left h2{
    margin-bottom: 24px;
    font-size: 2.5rem;
    color: #474747;
}

.information .left span{
    font-weight: 500;
}

.information .right{
    border: 1px solid grey;
    width: 40%;
}

.information .right .container img{
    height: auto;
    width: 35%;
    padding: 16px;

}

.information .right .container{
    display: flex;
    width: 100%;
    align-items: center;
    background-color: white;
    border: 1px solid darkgray;
    padding: 16px 0px;

}

.information .right .container .txtcontainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    max-height: 35%;
}

.information .right .container h4{
    color: #474747;
    margin: 0;
    padding: 0;
}

.information .right .container p{
    padding-top: 12px;
    margin:0;
}

.information .right .read-more{
    color: lightseagreen;
}

.learning {
    background-color: darkgray;
    margin: 0;
    padding-top: 32px;
    padding-bottom: 32px;
}

.learning h2{
    padding-bottom: 32px;
    margin:0;
    text-align: center;
}
.first{
    display: flex;
    margin-left: 72px;
    margin-right: 72px;
}

.second{
    display:flex;
    margin-left: 72px;
    margin-right: 72px;
}

.learning .courses {
    display: flex;
    flex-direction: row;
}

.learning .course{
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    background-color: white;
    width: 30%;
    margin: 14px;
    margin-top:0;
    padding: 0;
}

.learning .course img{
    width: 100%;
    height: auto;
}

.course h4{
    color: #474747;
}

.course p {
    color: darkgray;
}
.course h4,
.course p {
    padding: 16px;
    margin: 0;
    align-self: flex-start;
}

.course .eight{
    padding-top: 8px;
    padding-bottom: 8px;
}

